#boxComponent {
    position: relative;
    display: flex;
    justify-content: center;
    transform:scale(0.5);
}

#msBTN {
    position: absolute;
    top:50px
}

#msBOX {
    position: absolute;
    top:50px
}

#btnComp:active {
    transform: translateY(6px);
}

.mydiv {
    padding-bottom: 10px;
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
}

#head {
    margin-right: 10px;
    width: 10px;
    height: 10px;
}

#MrM_HEADER {
    text-align: left;
    font-weight: 600;
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #0195c3;
    color: #eff3f6;
}


/* testing */

/* Chat containers */
.container {
    font-size: 14px;
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 15px 10px 0 10px;
    width: 200px;
}

/* Darker chat container */
.darker {
    border-color: #ccc;
    background-color: #ddd;
    width: 200px;
}

/* Clear floats */
.container::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

/* Style the right image */
.container img.right {
    float: right;
    height: 60px;
    height: 60px;
    margin-left: 20px;
    margin-right: 0;
}

/* Style time text */
.time-right {
    float: right;
    color: #aaa;
}

/* Style time text */
.time-left {
    float: left;
    color: #999;
}


#textContainer {
    overflow-y: scroll;
    height: 250px;
}

#result {
    width: 100%;
    height: 200%;
    margin-bottom:10px;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
}

#name {
    font-size: 15px;
    font-weight:600;
}

#chrImg {
    width: 100px;
    height: 100px;
}

#characterCont {
    text-align: center;
    border: 1px solid black;
    margin: 10px;
    height: 200px;
    width: 200px;
}

.block {
    border:1px solid beige;
    display:block;
    background:blue;
    text-align:center;
    min-width:50px;
    max-width:150px;
    height:auto;
    z-index:1;
    position:absolute;
}


#DNAbox {
    width:20%;
    height: 45%;
    background-color:black;
    opacity: 0.7;
    position:fixed;
    top:10px;
    right: 10px;
    display:flex;
    justify-content: center;
    align-self:flex-end;
    flex-direction:column;
}

.DNAtext {
    color:white;
}



/* testing */
body {
    font-family: 'Varela', sans-serif;
  }
  

  
  @keyframes noise-anim {
    0% {
      clip: rect(59px, 9999px, 50px, 0);
    }
    5% {
      clip: rect(13px, 9999px, 95px, 0);
    }
    10% {
      clip: rect(17px, 9999px, 21px, 0);
    }
    15% {
      clip: rect(13px, 9999px, 52px, 0);
    }
    20% {
      clip: rect(38px, 9999px, 65px, 0);
    }
    25% {
      clip: rect(6px, 9999px, 50px, 0);
    }
    30% {
      clip: rect(31px, 9999px, 56px, 0);
    }
    35% {
      clip: rect(40px, 9999px, 72px, 0);
    }
    40% {
      clip: rect(25px, 9999px, 60px, 0);
    }
    45% {
      clip: rect(57px, 9999px, 16px, 0);
    }
    50% {
      clip: rect(1px, 9999px, 59px, 0);
    }
    55% {
      clip: rect(43px, 9999px, 63px, 0);
    }
    60% {
      clip: rect(14px, 9999px, 17px, 0);
    }
    65% {
      clip: rect(69px, 9999px, 48px, 0);
    }
    70% {
      clip: rect(34px, 9999px, 69px, 0);
    }
    75% {
      clip: rect(82px, 9999px, 37px, 0);
    }
    80% {
      clip: rect(41px, 9999px, 20px, 0);
    }
    85% {
      clip: rect(17px, 9999px, 81px, 0);
    }
    90% {
      clip: rect(82px, 9999px, 97px, 0);
    }
    95% {
      clip: rect(37px, 9999px, 44px, 0);
    }
    100% {
      clip: rect(35px, 9999px, 93px, 0);
    }
  }


  .glitch {
    color: white;
    font-size: 18px;
    position: relative;
    width: auto;
    margin: 0 auto;
  }

  .glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 red;
    top: 0;
    color: white;
    background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
  }
  
  #infoCont {
    margin-top:20px;
    margin-left:75px;
  }

  @keyframes noise-anim-2 {
    0% {
      clip: rect(25px, 9999px, 25px, 0);
    }
    5% {
      clip: rect(77px, 9999px, 6px, 0);
    }
    10% {
      clip: rect(88px, 9999px, 98px, 0);
    }
    15% {
      clip: rect(3px, 9999px, 74px, 0);
    }
    20% {
      clip: rect(64px, 9999px, 81px, 0);
    }
    25% {
      clip: rect(78px, 9999px, 3px, 0);
    }
    30% {
      clip: rect(8px, 9999px, 72px, 0);
    }
    35% {
      clip: rect(79px, 9999px, 50px, 0);
    }
    40% {
      clip: rect(84px, 9999px, 88px, 0);
    }
    45% {
      clip: rect(4px, 9999px, 77px, 0);
    }
    50% {
      clip: rect(16px, 9999px, 62px, 0);
    }
    55% {
      clip: rect(52px, 9999px, 70px, 0);
    }
    60% {
      clip: rect(91px, 9999px, 74px, 0);
    }
    65% {
      clip: rect(84px, 9999px, 95px, 0);
    }
    70% {
      clip: rect(29px, 9999px, 50px, 0);
    }
    75% {
      clip: rect(15px, 9999px, 69px, 0);
    }
    80% {
      clip: rect(3px, 9999px, 80px, 0);
    }
    85% {
      clip: rect(94px, 9999px, 60px, 0);
    }
    90% {
      clip: rect(79px, 9999px, 12px, 0);
    }
    95% {
      clip: rect(92px, 9999px, 76px, 0);
    }
    100% {
      clip: rect(50px, 9999px, 98px, 0);
    }
  }
  .glitch:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: white;
    background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
  }
  

  @keyframes example-three-anim-1 {
    0% {
      clip: rect(66px, 100px, 2px, 0);
    }
    6.66667% {
      clip: rect(19px, 100px, 66px, 0);
    }
    13.33333% {
      clip: rect(17px, 100px, 82px, 0);
    }
    20% {
      clip: rect(100px, 100px, 81px, 0);
    }
    26.66667% {
      clip: rect(11px, 100px, 94px, 0);
    }
    33.33333% {
      clip: rect(70px, 100px, 80px, 0);
    }
    40% {
      clip: rect(60px, 100px, 55px, 0);
    }
    46.66667% {
      clip: rect(66px, 100px, 35px, 0);
    }
    53.33333% {
      clip: rect(15px, 100px, 21px, 0);
    }
    60% {
      clip: rect(76px, 100px, 6px, 0);
    }
    66.66667% {
      clip: rect(4px, 100px, 78px, 0);
    }
    73.33333% {
      clip: rect(96px, 100px, 70px, 0);
    }
    80% {
      clip: rect(16px, 100px, 75px, 0);
    }
    86.66667% {
      clip: rect(98px, 100px, 1px, 0);
    }
    93.33333% {
      clip: rect(85px, 100px, 2px, 0);
    }
    100% {
      clip: rect(38px, 100px, 38px, 0);
    }
  }
  @keyframes example-three-anim-2 {
    0% {
      clip: rect(27px, 100px, 87px, 0);
    }
    6.66667% {
      clip: rect(69px, 100px, 83px, 0);
    }
    13.33333% {
      clip: rect(42px, 100px, 64px, 0);
    }
    20% {
      clip: rect(8px, 100px, 1px, 0);
    }
    26.66667% {
      clip: rect(13px, 100px, 70px, 0);
    }
    33.33333% {
      clip: rect(37px, 100px, 96px, 0);
    }
    40% {
      clip: rect(4px, 100px, 36px, 0);
    }
    46.66667% {
      clip: rect(12px, 100px, 23px, 0);
    }
    53.33333% {
      clip: rect(21px, 100px, 78px, 0);
    }
    60% {
      clip: rect(34px, 100px, 22px, 0);
    }
    66.66667% {
      clip: rect(29px, 100px, 1px, 0);
    }
    73.33333% {
      clip: rect(73px, 100px, 5px, 0);
    }
    80% {
      clip: rect(47px, 100px, 24px, 0);
    }
    86.66667% {
      clip: rect(44px, 100px, 52px, 0);
    }
    93.33333% {
      clip: rect(4px, 100px, 32px, 0);
    }
    100% {
      clip: rect(71px, 100px, 63px, 0);
    }
  }
  .example-three > img {
    position: absolute;
    top: 20px;
    left: 90px;
  }
  .example-three > img:nth-child(2),
  .example-three > img:nth-child(3) {
    clip: rect(0, 0, 0, 0);
  }
  .example-three > img:nth-child(2) {
    left: 92px;
    animation: example-three-anim-1 2s infinite linear alternate-reverse;
  }
  .example-three > img:nth-child(3) {
    left: 93px;
    animation: example-three-anim-2 3s infinite linear alternate-reverse;
  }
  